<div id="modal" x-ref="modaldiv" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Rules to play the game</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group">
                    <li class="list-group-item">Start typing the word you want to guess</li>
                    <li class="list-group-item">You get 6 guesses before the correct answer is revealed</li>
                    <li class="list-group-item">A guess needs to be 5 characters. Not more or less.</li>
                    <li class="list-group-item">Orange indicates the letter is present in the word but not at the same place</li>
                    <li class="list-group-item">Green indicates letter is present in the word at the same place</li>
                    <li class="list-group-item">Refresh the page to load a new word</li>
                  </ul>
            </div>
        </div>
    </div>
</div>